<% provide(:title, 'Help') %>
<h1>Help</h1>
<object width="960" height="600" type="application/pdf" data="<%= Rails.root.join('public', 'user_guide.pdf') %>" id="pdf_content">
  <p>Cannot show presentation.</p>
</object>
