<!--***********************SAVE BUTTON*******************-->
<div class="saveButtonContainer">
  <button id="saveSubpage" class="btn btn-success">Save subpage</button>
</div>
<!--***********************SAVE BUTTON*******************-->

<%= render 'layouts/web_themes/' + @web.theme.name + '/content' %>