<div class="modal fade" id="unsavedContentModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
        <h4 class="modal-title" id="myModalLabel">There's an unsaved content.</h4>
      </div>
      <div class="modal-body">
        <h3>Please save your subpage content before you get out of actual subpage.</h3>
      </div>
      <div class="modal-footer">
        <!-- <button id="deleteUnsavedContent" type="button" class="btn btn-danger" data-dismiss="modal">No</button> -->
        <button id="saveUnsavedContent" type="button" class="btn btn-success">Save subpage content</button>
      </div>
    </div>
  </div>
</div>
