<% provide(:title, @web.name + ' | Edit') %>

<%= render 'webs/edit_panel/edit_panel' %>

<script type="text/javascript">
    $(document).ready(function() {
        $("#subpageContent").subpagebuild();
    });
</script>

<div id="main-content">
  <div id="main-content-inner" style="background: <%= @web.bg_color %>;">
    <%= render 'webs/edit_page_content' %>
  </div>
</div>
<%= render 'webs/unsaved_content_alert' %>