<% provide(:title, 'Web sites') %>
<h1>Web sites</h1>
<%= link_to new_web_path, class: "addButton btn btn-warning pull-right" do %>
    Create new website
    <i class="fa fa-plus"></i>
<% end %>
<%= render 'webs/user_webs' %>
