<li id="<%= dom_id(user) %>">
  <div class="row-fluid">
    <div class="span8">
      <%= link_to user.name, user %>
    </div>

        <% if current_user.admin? && !current_user?(user) %>
            <div class="span2">
              <div class="pull-right">
                <label class="checkbox">
                    <%= check_box_tag 'admin', nil, user.admin , id: "user[#{user.id}]" , class:'make-admin-checkbox', "data-url" => url_for( :action => 'make_admin', :id => user.id ) %>
                    Administrator
                </label>
              </div>
            </div>
            <div class="span2">
              <div class="pull-right">
                <%= link_to user, method: :delete,
                            class: "btn btn-danger",
                            remote: true,
                            data: { confirm: "You sure?" } do %>
                    <i class="fa fa-trash-o"></i>
                    Delete
                <% end %>
              </div>
            </div>
        <% end %>
  </div>
</li>