<% provide(:title, "Edit user") %>
<h1>Edit</h1>

<div class="row">
  <div class="span4 well">
    <legend>Update your profile</legend>
    <%= form_for(@user) do |f| %>
        <%= render 'fields', f: f %>

        <%= f.submit "Save changes", class: "btn-info btn" %>
    <% end %>

  </div>
</div>