<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<p><strong>Email: </strong><%= @user.email %></p>
<% if @user.state? %>
    <br>
    <h2>Published web sites</h2>
    <%= render 'webs/user_webs' %>
<% end %>