<div class="span4 well <%= home_transify %>">
  <div class="legend">New to WBSBuilder? Sign up!</div>
  <%= form_for(@user) do |f| %>
      <%= render 'users/fields', f: f %>

      <%= f.submit "Create my account", class: "btn btn-warning" %>
  <% end %>
</div>