@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

/* GLOBAL VARIABLES
-------------------------------------------------- */
$whitesmoke: #f9f9f9;

/* GLOBAL DEFINITIONS
-------------------------------------------------- */
*{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}
body{
  padding: 0 !important;
  background-color: #fbfbfb;
}
#content{
  padding-top: 42px;
}
pre{
  clear: both;
}
.center{
   margin: 0 auto !important;
   float: none !important;
   width: 100%;
}
.text-center{
  text-align: center;
}
.margin-top-15perc{
    margin-top: 15%;
}
.container{
  width: 100%;
  .transify{
    background-color:rgba(245,245,245,.6);
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

    &:hover{
      -webkit-transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out;

      background-color:rgba(245,245,245,1.0);;
    }
  }
}
/* WILL_PAGINATE GEM CLASSES
-------------------------------------------------- */
.pagination {
  margin: 10px 0;
  ul li.disabled a{
    background-color: #f9f9f9;
    &:hover{
      background-color: #f9f9f9;
    }
  }
}

/* CHANGE BOOTSTRAP CLASSES
-------------------------------------------------- */
.well {
  background-color: $whitesmoke;

  legend{
    border-color: #d1d1d1;
  }
}
  /* CUSTOMIZE THE NAVBAR
  BOOTSTRAP-------------------------------------------------- */
  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-fixed-top{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0px !important;
    position: fixed !important;
  }
  .navbar{
    .navbar-inner {
      background-color: #333333; /* background color will be black for all browsers */
      background-image: none;
      background-repeat: no-repeat;
      filter: none;
      border: none;
      padding: 0;
      .container{
        width: 100%;
      }
      ul.nav {
        margin: 0;
        float:right;
        li a{
          color:#e9e9e9;
          &:hover{
            color: white;
          }
        }
        li.dropdown {
          ul.dropdown-menu li a{
            color:black;
          }
          a b.caret{
            border-top-color:#e9e9e9;
            border-bottom-color:#e9e9e9;
          }
         }
        }
    }

    .navbar-header{
      padding: 10px;
      #logo {
        color: #eaeaea;
        font-size: 20px;
        &:hover{
          text-decoration: none;
          color: white;
        }
      }
    }

    .brand{
      font-size: 20px;
      color: #b1b1b1;
      margin-left: 0;
      padding: 10px 5px;
      span.blue-italic{
        color: #6899be;
        font-style: italic;
        font-size: 20px;
        padding-right: 0;
        margin-right: 0;
      }
    }
  }

  /*Fix dropdown links on mobile devices*/
  .dropdown-backdrop{
    position: static;
  }

/* Controller: Users, Action: index
-------------------------------------------------- */
.users {
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  background-color: $whitesmoke;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    &:first-child {
      border:none;
    }
  }
}

/* Controller: Webs, Action: index
-------------------------------------------------- */
.addButton{
  margin: 10px 0;
  float: right;
}
/* Controller: Webs, Action: edit
-------------------------------------------------- */
/*sidebar navigation*/
#sidebar-content{
  display: block;
  width: 310px;
}
#sidebar-small {
  width: 60px;
  height: 100%;
  top: 40px;
  z-index: 1;
  position: fixed;
  background: #404040;
  border-right: 1px solid #313131;

  ul li {
    position: relative;
  }

  ul.sidebar-menu{
    margin-top: 75px;
  }
}

#sidebar-big {
  width: 250px;
  left: 60px;
  height: 100%;
  top: 40px;
  z-index: 1;
  position: fixed;
  overflow-y: auto !important;
  background: #dedede;
  border-right: 1px solid #c2c2c2;

  .sidebar-big-content:after{
    content: "";
    display: block;
    clear: both;
    height: 80px;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #9f9f9f;
  }

  &::-webkit-scrollbar-track {
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #eb5248;
  }
  h2{
    color: #5c5c5c;
    font-size: 25px;
    font-weight: normal;
    margin-left: 10px;
  }
  h3{
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    background: #E9E9E9;
    color: #555555;
    font-weight: bold;
  }

  ul li {
    position: relative;
  }
  ul.sidebar-menu{
    margin-top: 15px;
  }
  form{
    width: 90%;
    margin: 0 auto;

    input[type="submit"]{
      width: auto !important;
    }

    div.upload {
      width: 109px;
      height: 28px;
      background-color: #f9a732;
      border-radius: 7px;
      overflow: visible;
      margin: 0px 0 27px 0px;
      position: relative;

      span{
        background-color: transparent;
        text-align: center;
        width: 94%;
        padding-top: 8px;
        font-size: 13px;
        font-weight: 100;
        &#file-name{
          color: black;
          position: absolute;
          top: -3px;
          left: 110px;
        }
      }
      input {
        width: 173px !important;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 25px;
        opacity: 0;
        &:hover{
          cursor:pointer;
        }
      }

    }
  }
  .category-header{
    margin: 15px 0;
    padding: 0;
    height: 20px;
    background: #f5f5f5;
    opacity: .85;
    line-height: 20px;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #6c6c6c;
    text-shadow: 0 0 1px #a8a997;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    clear:both;
  }

  ul#pagesSettings{
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    li{
      list-style-type: none;
      border-bottom: 1px solid #B6B6B6;
      &:first-child{
        border-top: 1px solid #B6B6B6;
      }
      .showHideLink{
        padding: 10px 15px;
        display: block;
        color: #585858;
        text-align: left;
        font-size: 15px;
        &:hover, &.active{
          background-color: #BEBEBE;
          text-decoration: none;
        }
        i{
          float: right;
        }
      }
      .showPageSettings{
        display: none;
        form{
          margin: 15px auto;
          input, textarea {
            width: 85%;
            float: left;
          }
          select{
            float: left;
            width: 91%;
          }
          i{
            float: right;
            width: 5%;
            margin: 0;
            padding: 7px 3px;
          }
        }
      }
    }
  }

  ul#servicesSettings{
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    li{
      list-style-type: none;
      border-bottom: 1px solid #B6B6B6;
      &:first-child{
        border-top: 1px solid #B6B6B6;
      }
      .showHideLink{
        padding: 10px 15px;
        display: block;
        color: #585858;
        text-align: left;
        font-size: 15px;
        &:hover, &.active{
          background-color: #BEBEBE;
          text-decoration: none;
        }
        i{
          float: right;
        }
      }
      .showServiceSettings{
        display: none;
        form{
          margin: 15px auto;
          input, textarea {
            width: 85%;
            float: left;
          }
          select{
            float: left;
            width: 91%;
          }
          i{
            float: right;
            width: 5%;
            margin: 0;
            padding: 7px 3px;
          }
          a.delete-service{
            i{
              float: none;
              width: auto;
              margin: 0;
              padding: 3px 0px;
            }
          }
        }
      }
    }
  }
}

ul.sidebar-menu{
  margin: -2px 0 0;
  padding: 0;

  li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
  }
  li a{
    color: #c4c4c4;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 20px;
    outline: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    span{
      display: inline-block;
    }
    i {
      font-size: 23px;
      padding-right: 6px;
    }
  }
  li a:hover i,  li a:focus i {
    color: white;
  }
  li a.active, li a:hover, li a:focus {
    color: white;
    display: block;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  li a.active{
   i {
    color: white;
   }
   &:after {
     right: -10px;
     top: 47%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     pointer-events: none;
     border-color: rgba(255, 255, 255, 0);
     border-right-color: #dedede;
     border-width: 10px;
     margin-top: -10px;
   }
  }
}
/*CLASS.BLOCKS*/
ul.blocks{
  width: 100%;
  margin:0;
  padding: 0;
  li{
    list-style-type: none;
    float:right;
  }

}

.block{
  background-color: #525455;
  margin: 8px;
  padding: 30px 49px 65px 49px;
  border-radius: 4px;
  position: relative;
  border: 1px solid #424242;
  z-index: 999;
  a{
    color:#fefefe;
    span.image{
      position: absolute;
      left: 50%;
      top: 20px;
      text-align: center;
      img{

      }
    }
    span{
      position: absolute;
      font-size: 13px;
      text-transform: uppercase;
      width: 100px;
      left: 50%;
      text-align: center;
      margin-left: -50px;
      bottom: 10px;
    }
    &:hover{
      cursor: move;
    }
  }
  &:hover{
    cursor: move;
  }
}
#subpageContent .block{
  position: absolute;
}

/*DEFAULT SHOW SIDEBAR-BLOCK CONTENT*/
#view-content, #settings-content, #publish-content, #pages-content{
  display:none;
}

/**/
#device-view-control{
  float: left;
  margin-left: 30%;
  margin-top: 14px;

  a {
    padding: 0 5px;
    margin: 0;
    span.leftText{
      color: white;
      position: relative;
      margin-left: 8px;
      bottom: 2px;
      margin-bottom: 5px;
      font-size: 14px;
    }
    i{
      color: white;
      font-size: 19px;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ase-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
    &:hover, &:focus{
      text-decoration: none;
      i{
        color: #f1d161;
      }
      span.leftText{
        color: #f1d161;
      }
    }
  }
  a.active{
    span.leftText{
      color: #f1d161;
    }
    i{
      color: #f1d161;
    }
  }
}
/*SIDEBAR TOGGLE BUTTON*/
a#sidebar-toggle{
  float: left;
  margin: 9px 20px 8px 13px;
  padding: 0px;
  i{
    color: #6E93AF;
    font-size: 24px;
  }
}
/*CONTENT WHEN SIDEBAR*/
div#main-content{
  position: fixed;
  width: 100%;
  height: 100%;

  #main-content-inner{
    margin-left: 310px;
    height: 100%;
    background: #fbfbfb;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-track {
      border-radius: 1px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1px;
      background: #eb5248;
    }
  }
}
form.edit_web{
    margin: 0 auto 15px auto !important;
    input, textarea {
      width: 85%;
      float: left;
    }
    select{
      float: left;
      width: 91%;
    }
    i.tooltip-icon {
      float: right;
      width: 5%;
      margin: 0;
      padding: 7px 3px;
    }
}
/* CUSTOMIZE FORM ERRORS
-------------------------------------------------- */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/*DEBUG INFORMATION*/
div#debug-info{
  position: absolute;
  bottom: 0;
  width: 300px;
  right: 0;
}
/*jQuery TOOLTIP
------------------------------------------------*/
.tooltip.in {
  opacity: 0.96;
}
.tooltip.right {
  margin-left: 6px;

  .tooltip-arrow{
    border-right-color: white;
  }
}
.tooltip.left {
  margin-right: 6px;

  .tooltip-arrow{
    border-left-color: white;
  }
}
.tooltip-inner  {
  padding: 3px 6px !important;
  font-size: 13px;
  background-color: white;
  color: black;
}

.modal{
  display: none;
}



