.gen_block{
  &:hover{
    box-shadow: 0px 0px 0px 2px #CCCCCC !important;
    border: none !important;
  }
}
/*SUBPAGE BUILD PLUGIN
------------------------------------------------*/
.gen_block{
  /*box-shadow: 0px 0px 0px 2px rgba(68, 68, 68, 0.49);*/
  position: relative;
  border-radius:4px;
  padding: 4px;
  clear: both;
  /*fix the problem of floated content*/
  &:after{
    content: " ";
    clear: both;
    display: block;
  }
}

#addBlock{
  background-color: #525455;
  margin: 8px;
  padding: 30px 49px 65px 49px;
  border-radius: 4px;
  position: absolute;
  border: 1px solid #424242;

  a{
    color:#fefefe;
    span.image{
      position: absolute;
      left: 50%;
      top: 20px;
      text-align: center;
      img{

      }
    }
    span{
      position: absolute;
      font-size: 13px;
      text-transform: uppercase;
      width: 100px;
      left: 50%;
      text-align: center;
      margin-left: -50px;
      bottom: 10px;
    }
  }
}

.blockControls{
  position: relative;
  display: block;
  top: -19px;
}
.blockControls button {
  margin-right: 3px;
  padding: 1px 3px;
  border-radius: 3px !important;
  background-color: transparent;
  font-weight: bold;
  color: #3C3C3C;
  border: none;
  outline: none !important;

  &:hover{
    color: #6E9DD1;
    cursor: pointer;
  }
}
.blockControls button.current{
  color: #6E9DD1;
  cursor: pointer;
}
.deleteBlock, .moveBlock, .modifyBlock{
  position: absolute;
  border: none;
  display: block;
  color: #3C3C3C;
  margin: 0;
  /*top: -5px;*/
  z-index: 999;
  background-color: #F1F1F1;
  border: 2px solid #CCCCCC;
  border-radius: 5px;

  &:hover{
    background-color: #FFFFFF;
  }

}
.deleteBlock{
  right: -15px;
  padding: 2px 6px;


  &:hover{
    color: #ca6969;
    cursor: pointer;
  }
}
.moveBlock{
  left: 50%;
  margin-left: -30px;
  padding: 2px 20px;

  &:hover{
    color: #C5AE34;
    cursor: move;
  }
}
.modifyBlock{
  left: -15px;
  padding: 2px 6px;

  &:hover{
    color: #6E9DD1;
    cursor: pointer;
  }
}
/*Doesn't show dialog when it's add*/
.dialog{
  display: none;
}
/*jQuery-UI sortable*/
.ui-state-highlight {
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0px 0px 3px rgb(255, 214, 0) !important;
  background: none !important;
}
.ckeditor *{
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

/*CKEDITOR change*/
.cke_inner{
  background-color: transparent !important;
  padding-bottom: 2px !important;
  .cke_top{
    border-radius: 4px !important;
  }
}
.cke_show_borders {
  outline: none !important;
}



/*SUBPAGE BLOCK styles - this gonna be different depend by theme css, the copied to project css by first save*/
/*----------------------Global Block------------------------------------*/
.ui-widget-overlay{
  background: transparent !important;
}
.ui-dialog{
  height: 600px;
  padding: 0 !important;
  border-radius: 10px !important;
  form,table{
    button{
      margin: 0 2px;
      border-radius: 3px;
      border: 1px solid rgb(167, 167, 167);
      padding: 2px 6px;
      i{
        color: rgb(71, 69, 69);
      }
    }
  }

  .ui-dialog-buttonpane{
    border-radius: 0 0 10px 10px;
  }
  .ui-dialog-titlebar{
    border-radius: 10px 10px 0 0;
    border: none;
    border-bottom: 1px solid #999999;
    background-color: transparent;

    .ui-dialog-titlebar-close{
      background: none;
      border: none;
      color: black;
      &.ui-button-icon-only .ui-icon{
          outline: none !important;
          margin-top: -10px !important;
          right: 5px !important;
      }
    }

  }
}
/*SUBPAGE BUILD PLUGIN*/